dns_wrapper/mechanoChemFEM/diffusion-single-phase/build/*
dns_wrapper/mechanoChemFEM/nonlinear-elasticity/build/* 
workflows/physics_constrained_learning/src/DNS/my_sum/__pycache__/*
workflows/physics_constrained_learning/src/NN/__pycache__/*
workflows/physics_constrained_learning/src/NN/sum_dnn/__pycache__/*
workflows/physics_constrained_learning/src/DNS/__pycache__/*
workflows/physics_constrained_learning/src/DNS/my_sum/__init__.py
component/__pycache__/*
utility/__pycache__/*
doc/_build/*
doc/_static/*
*.pyc
*DS_Store
*~
workflows/graph_theoretic_approaches/examples/**/*.pdf
workflows/graph_theoretic_approaches/examples/**/*.csv
workflows/graph_theoretic_approaches/examples/**/*.pickle
workflows/graph_theoretic_approaches/examples/**/*.json
workflows/graph_theoretic_approaches/examples/**/*.tex
workflows/graph_theoretic_approaches/examples/**/*.log
workflows/graph_theoretic_approaches/examples/**/*.all
workflows/graph_theoretic_approaches/examples/**/.ipynb_checkpoints/*
workflows/graph_theoretic_approaches/examples/jobs/data
workflows/graph_theoretic_approaches/examples/diffusion/Data
workflows/graph_theoretic_approaches/examples/diffusion/simulations
utility/*.pdf
utility/*.ipynb*
